body {
    color: white;
    background-color: #E6EFF5;
    font-family: "Karla";
}

button {
    background-color: #C0DF33;
    color: white;
    margin-left: 2rem;
    padding: 1rem 7rem;
    font-size: 16px;
}

#title {
    color: #2AB3B1;
    letter-spacing: -0.25px;
}

#subtitle {
    color: #C0DF33;
    line-height: 24px;
    letter-spacing: -0.19px;
}

#descr {
    color: #9AA7BE;
    width: 74vw;
    line-height: 30px;
    letter-spacing: -0.17px;
}

.card-top,
.card-bottom {
    background-color: #2AB3B1;
    margin: 0;
    padding: 0;
}

.card-top {
    padding-bottom: 1rem;
}

.card-bottom {
    opacity: 84.81%;
}

main {
    background-color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.monthly {
    font-size: 32px;
}

#title,
#subtitle,
#descr {
    margin-left: 1.4rem;
}

.price-interval {
    position: relative;
    bottom: 0.3rem;
    left: 1rem;
    opacity: 50%;
}

.card-title,
.pricing,
.access,
.signup {
    margin-left: 3rem;
}

.why-us,
.text-blurb {
    margin-left: 2rem;
}

.text-blurb {
    width: 60%;
    opacity: 55%;
    line-height: 25px;
}

@media(min-width: 1440px) {
    #descr {
        width: 65%;
    }
    .card {
        flex-direction: row;
    }
    .card-top,
    .card-bottom {
        justify-content: center;
        align-items: center;
    }
    button {
        font-size: 17px;
        margin-right: 3rem;
    }
    main {
        width: 50%;
        position: relative;
        left: 25vw;
        top: 25vh;
    }
}